<hibernate-configuration>




<session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/lessons</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">q123</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MariaDB53Dialect</property>

    <!--<property name="hibernate.cache.provider_class">org.hibernate.cache.infinispan.InfinispanRegionFactory</property>-->
    <!--<property name="hibernate.cache.region.provider_class" value="org.hibernate.cache.jcache.JCacheRegionFactory"></property>-->

    <property name="cache.use_second_level_cache">true</property>
    <!--<property name="hibernate.cache.use_query_cache">true</property>-->
    <property name="hibernate.cache.region.factory_class">
        org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
    </property>


    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping class="Hibernate.Car"/>
    <!--<mapping class="Hibernate.enums.Toyota"/>-->
    <!--<mapping class="Hibernate.enums.Opel"/>-->
    <!--<mapping resource ="Book.hbm.xml"></mapping>-->
    <!--<mapping class="Hibernate.enums.Person"/>-->
    <!--<mapping class="Hibernate.enums.HomeAdress"/>-->



</session-factory>
</hibernate-configuration>